@charset "UTF-8";
/*========================================================
                   Bootstrap Reset
=========================================================*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600);
button, .btn {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
button::-moz-focus-inner, .btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
button:focus, .btn:focus {
  outline: none;
}

label, input, button, select, textarea {
  font-size: 13px;
  color: #2d2d2d;
}
@media (min-width: 768px) and (max-width: 991px) {
  label, input, button, select, textarea {
    font-size: 10px;
  }
}

label {
  font-weight: bold;
  cursor: default;
}

textarea {
  resize: none;
}

blockquote {
  font-size: inherit;
  line-height: inherit;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  font-size: 13px;
  border-radius: 0;
  box-shadow: none;
}

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control, .input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover, .input-group-addon {
  font-size: 12px;
}

input[type="checkbox"], input[type="checkbox"]:focus, input[type="radio"], input[type="radio"]:focus {
  outline: none;
}

.bootstrap-datetimepicker-widget {
  z-index: 999 !important;
}
.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.second:hover,
.bootstrap-datetimepicker-widget thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget td span:hover {
  background-color: transparent;
}
.bootstrap-datetimepicker-widget .timepicker {
  margin-top: 5px;
}
.bootstrap-datetimepicker-widget .timepicker td > span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 5px 0;
}
.bootstrap-datetimepicker-widget .timepicker td > span:hover {
  color: #262626;
}

.bootstrap-datetimepicker-widget td.day.active,
.bootstrap-datetimepicker-widget td.day.active:hover {
  background: #262626;
  color: #FFF;
  cursor: inherit;
}

.container > .alert,
.breadcrumb + .alert {
  position: fixed;
  z-index: 1000;
}

.alert {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px 14px 8px 14px;
  z-index: 30;
  color: #FFF;
  border-radius: 0;
}
.alert i {
  font-size: 21px;
  margin-right: 5px;
}
.alert a {
  text-decoration: underline;
}
.alert a:hover {
  text-decoration: none;
  color: #FFF;
}
.alert button.close {
  color: #FFF;
}
.alert button.close:hover, .alert button.close:focus {
  opacity: 1;
  color: #FFF;
}

.alert-success {
  background-color: #55C65E;
  border: 1px solid #48B151;
}

.alert-danger {
  background-color: #F3515C;
  border-color: #D4323D;
}

.alert-info {
  background-color: #FE9126;
  border-color: #E4752B;
}

.alert-warning {
  background-color: #EC710D;
  border-color: #D45634;
}

.pagination {
  margin: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #262626;
  border-color: #262626;
  color: #FFF;
}

.pagination > li > a, .pagination > li > span {
  color: #2d2d2d;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background: #2d2d2d;
  border-color: #2d2d2d;
  color: #FFF;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none;
  text-decoration: none;
}

.table thead td {
  text-transform: uppercase;
  font-weight: bold;
  color: #323232 !important;
  font-size: 13px;
  background-color: #F9F9F9;
}

.table th,
.table td {
  padding: 20px;
  border-color: #D7D7D7;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.block-compare .table th, .block-compare .table td {
  padding: 7px;
}

.panel-group .panel, .panel, .table-bordered, .table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child, .table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child, .table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
  border-radius: 0;
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-color: #e3e2e2;
}

.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
  white-space: normal;
}

.table > tbody + tbody {
  border-top: none;
}

.panel-heading {
  padding: 20px;
}

.addthis_button_tweet {
  width: 100px !important;
}

.fancybox-close, .fancybox-prev span, .fancybox-next span {
  opacity: 0.8;
}

.fancybox-close:hover, .fancybox-prev span:hover, .fancybox-next span:hover {
  opacity: 1;
}

.text-danger {
  color: #F00;
}

.has-error * + .text-danger {
  margin-top: 5px;
}

.buttons input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.tooltip {
  z-index: 10000;
}

/*========================================================
                      Main Styles
=========================================================*/
body {
  font: 400 13px/18px "Open Sans", sans-serif;
  color: #ababab;
  background: #262626;
}

h1, h2, h3, h4, h5, h6 {
  color: #2d2d2d;
  margin: 10px 0 20px;
  line-height: normal;
}

/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10.2px;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:active {
  background-color: transparent;
}
a:visited, a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #262626;
}

p a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

legend {
  font-size: 18px;
  padding: 7px 0px;
}

label {
  font-size: 12px;
  font-weight: normal;
}

.input-group .input-group-addon {
  height: 30px;
}

.nav-tabs {
  margin-bottom: 15px;
}

div.required .control-label:before {
  content: '* ';
  color: #F00;
  font-weight: bold;
}

td .price, .price b {
  font-size: 18px;
  padding-bottom: 0;
}

.fa {
  line-height: inherit;
}

.cart-icon:before {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: url(../images/cart.png);
  display: inline-block;
}
.cart-icon:hover:before {
  opacity: 0.2;
}

.bg-1 {
  background: linear-gradient(to bottom, #e2e2e2 0%, #ffffff 100%);
}

.bg-2 {
  background: #fafafa;
}

.bg-3 {
  background: #f4f4f4;
}

.bg-4 {
  background: #f8f8f8;
}

/*========================================================
                      Header styles
=========================================================*/
.header {
  background: #fff;
}
.header .box-language, .header .box-currency {
  float: left;
  margin-top: 14px;
}
.header .box-currency {
  margin-right: -1px;
}
.header .box-cart {
  float: left;
  margin-top: 5px;
}
.header .logo {
  display: block;
  background: #262626;
  padding-top: 48px;
  padding-bottom: 42px;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  text-align: center;
}
.header .logo a {
  display: inline-block;
}
.header .nav {
  float: left;
}
.header .right-menu {
  float: right;
}
.header .right-menu:before, .header .right-menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.header .right-menu:after {
  clear: both;
}
.header .search {
  float: right;
}
.header .category-block {
  padding-top: 22px;
  padding-bottom: 22px;
}
.header .category-block:before, .header .category-block:after {
  display: table;
  content: "";
  line-height: 0;
}
.header .category-block:after {
  clear: both;
}
.header .bg-1 {
  position: relative;
  margin-bottom: 39px;
}
.header .bg-1:after {
  content: '';
  display: block;
  left: 0;
  right: 0;
  height: 12px;
  bottom: 0;
  background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
}
.header .fleft {
  float: left;
}
.header .fright {
  float: right;
}
.header .dropdown-menu {
  background: #FFF;
}
.header .dropdown-menu > li > button:hover, .header .dropdown-menu > li > a:hover {
  background: #262626;
  color: #FFF;
}

/*================   Top Links style   ===============*/
.nav {
  margin-left: -3px;
  padding-top: 14px;
  padding-bottom: 17px;
}
.nav > ul {
  padding: 0;
  margin: 0;
}
.nav > ul li {
  padding: 0;
}
.nav > ul > li + li {
  margin-left: 11px;
}
.nav > ul > li + li > a {
  padding-left: 19px;
  border-left: 1px solid #e3e2e2 !important;
}
.nav a {
  font-size: 14px;
  line-height: 16px;
  color: #848383;
  padding: 4px 5px;
  display: inline-block;
}
.nav a i {
  display: none;
}
.nav a:hover, .nav a .active {
  color: #2d2d2d;
}
.nav i {
  font-size: 20px;
  margin-right: 20px;
}

/*================  CURRENCY AND LANGUAGE BOXES ===============*/
.box-language .open .dropdown-toggle,
.box-currency .open .dropdown-toggle,
.box-language .dropdown-toggle:hover,
.box-currency .dropdown-toggle:hover {
  color: #2d2d2d;
  box-shadow: none;
}

.box-language .dropdown-toggle,
.box-currency .dropdown-toggle {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 3px 0px 3px 20px;
  border-left: 1px solid #e3e2e2 !important;
  text-transform: capitalize;
  cursor: pointer;
  color: #848383;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.box-language .dropdown-toggle:after,
.box-currency .dropdown-toggle:after {
  display: inline-block;
  content: '\f107';
  margin-left: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: "FontAwesome";
}

.box-language .dropdown-toggle {
  padding-right: 20px;
}

.box-currency .dropdown-menu a, .box-currency .dropdown-menu button,
.box-language .dropdown-menu a,
.box-language .dropdown-menu button {
  text-align: left;
  display: block;
  padding: 5px 5px 5px 10px;
  width: 100%;
  font-size: 13px;
  text-transform: capitalize;
  color: #2d2d2d;
}

/********** Swipe menu ******************/
.toprow-1 {
  color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: none;
  background: #000;
  border-bottom: 1px solid #e5e5e5;
}

.swipe-control {
  border-right: 1px solid #e5e5e5;
  display: block;
  height: 50px;
  vertical-align: top;
  text-align: center;
  width: 64px;
  z-index: 100;
}
.swipe-control i {
  line-height: 50px;
  font-size: 30px;
  vertical-align: top;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.swipe-control:hover i, .swipe-control.active i {
  color: #262626;
}

.swipe {
  display: block;
  overflow: hidden;
  position: fixed;
  top: 50px;
  width: 237px;
  z-index: 101;
  bottom: 0;
  left: -237px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.swipe .swipe-menu {
  height: 100%;
  overflow-y: auto;
}

.swipe ul {
  padding: 0;
  margin: 0;
}
.swipe ul li {
  list-style-type: none;
}
.swipe ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  border-top: 1px solid #e5e5e5;
  line-height: 25px;
  background: #000;
}
.swipe ul li a i, .swipe ul li a:before {
  font-size: 21px;
  color: #fff;
  margin-right: 9px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.swipe ul li a:hover {
  background-color: #343434;
  color: #fff;
}
.swipe ul li a:hover i, .swipe ul li a:hover:before {
  color: #fff;
}

.swipe .foot li a:before {
  content: "\f05a";
  font-family: "FontAwesome";
  display: inline-block;
}

.ind .swipe {
  display: block;
  left: 0;
}
.ind #page {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 88;
}
.ind .shadow {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 88;
}

.swipe .foot li + li a:before {
  content: "\f0d1";
}
.swipe .foot li + li + li a:before {
  content: "\f06a";
}
.swipe .foot li + li + li + li a:before {
  content: "\f085";
}

.swipe .foot.foot-1 li a:before {
  content: "\f0ac";
}
.swipe .foot.foot-1 li + li a:before {
  content: "\f079";
}
.swipe .foot.foot-1 li + li + li a:before {
  content: "\f0e8";
}

.swipe .foot.foot-2 li a:before {
  content: "\f02c";
}
.swipe .foot.foot-2 li + li a:before {
  content: "\f06b";
}
.swipe .foot.foot-2 li + li + li a:before {
  content: "\f0c0";
}
.swipe .foot.foot-2 li + li + li + li a:before {
  content: "\f0a3";
}

.swipe .foot.foot-3 li a:before {
  content: "\f0cb";
}
.swipe .foot.foot-3 li + li a:before {
  content: "\f003";
}

@media (max-width: 767px) {
  .toprow-1 {
    display: block;
  }
}
/*========================================================
               Responsive Header styles
=========================================================*/
@media (min-width: 768px) and (max-width: 991px) {
  .nav a span {
    display: none;
  }
  .nav a i {
    display: block;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 50px;
  }
  .header .search {
    float: none;
  }
  .header .box-currency {
    margin-right: 0;
    padding: 0;
  }
  .header .logo {
    float: none;
    text-align: center;
    margin-top: 15px;
  }
  .header .logo img {
    display: inline-block;
  }
  .header .box-cart {
    float: none;
    margin-top: 0;
  }
  .header .nav {
    margin-top: 0;
  }
  .header .nav ul {
    display: none;
  }
  .header .nav__primary {
    margin-top: 15px;
    background: none;
  }
  .header .category-block .fleft {
    float: none;
  }
  .header .category-block .fright {
    padding-right: 20px;
  }
}
/*========================================================
                      Content styles
=========================================================*/
#page {
  background: #fff;
  overflow: hidden;
}

/*==================  Marked List  ======================*/
.box.account ul, .box.affilate ul {
  padding: 0;
  list-style-type: none;
}
.box.account ul a, .box.affilate ul a {
  position: relative;
  border-bottom: 1px solid #DADADA;
  display: block;
  padding: 13px 15px;
}
.box.account ul a:before, .box.affilate ul a:before {
  content: '\f054';
  margin-right: 10px;
  font-weight: 400;
  font-size: 10px;
  font-family: "FontAwesome";
  color: #262626;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.box.account ul a:hover, .box.affilate ul a:hover {
  color: #262626;
}

.site-map-page #content ul, .manufacturer-content div, #content ul.list-unstyled {
  margin: 0;
  list-style-type: none;
}
.site-map-page #content ul a, .manufacturer-content div a, #content ul.list-unstyled a {
  position: relative;
}
.site-map-page #content ul a:before, .manufacturer-content div a:before, #content ul.list-unstyled a:before {
  content: '\f105';
  margin-right: 5px;
  font-weight: 400;
  font-size: 15px;
  font-family: "FontAwesome";
  color: #262626;
}

#content .product-info ul.list-unstyled a:before {
  display: none;
}

@media (max-width: 767px) {
  aside {
    margin-top: 20px;
  }
  aside .container {
    padding: 0;
    width: 100%;
  }

  #content [class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 20px;
  }
}
/*==================   Lazy Img    ======================*/
.lazy {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  background: transparent url(../images/lazy-loader.gif) no-repeat center center;
}
.lazy img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  opacity: 0;
}
.lazy.lazy-loaded {
  background: none;
}
.lazy.lazy-loaded img {
  opacity: 1;
}

.search-box {
  position: relative;
  margin-top: -2px;
  margin-right: -4px;
}
.search-box:hover i:before {
  color: #262626;
}
.search-box i:before {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 22px;
  line-height: 28px;
  cursor: pointer;
  color: #848383;
}

.search {
  position: absolute;
  display: none;
  top: 42px;
  left: auto;
  right: 1px;
}
.search input {
  color: #d4d4d4;
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  width: 183px;
  height: 43px;
  padding: 10.5px 35px 10.5px 20px;
  background: #fff;
  border: 1px solid #d4d4d4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.search input:focus {
  outline: none;
}
.search input::-webkit-input-placeholder {
  color: #d4d4d4;
  opacity: 0;
}
.search input:-moz-placeholder {
  color: #d4d4d4;
  opacity: 0;
}
.search input::-moz-placeholder {
  color: #d4d4d4;
  opacity: 0;
}
.search input:-ms-input-placeholder {
  color: #d4d4d4;
  opacity: 0;
}
.search button, .search button:focus, .search button:active {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(38, 38, 38, 0.2);
  font: 400 24px/20px "FontAwesome";
}
.search button::-moz-focus-inner, .search button:focus::-moz-focus-inner, .search button:active::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search button:before, .search button:focus:before, .search button:active:before {
  content: "";
}
.search button:after, .search button:focus:after, .search button:active:after {
  content: url("../../../../../image/catalog/search.png");
  position: absolute;
  top: -28px;
  right: -4px;
}
@media (max-width: 767px) {
  .search button:after, .search button:focus:after, .search button:active:after {
    top: -27px;
  }
}
.search button:hover, .search button:focus:hover, .search button:active:hover {
  color: #262626;
}

#livesearch_search_results {
  margin: 3px 0 0;
  padding: 5px;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: #FFF;
  list-style-type: none;
  z-index: 12;
  font-size: 14px;
}
#livesearch_search_results li img {
  float: left;
  margin-right: 10px;
}
#livesearch_search_results li img.loading {
  background: #F5F5F5;
}
#livesearch_search_results li:hover, #livesearch_search_results li.highlighted {
  background-color: #262626;
}
#livesearch_search_results li:hover a, #livesearch_search_results li:hover a:visited, #livesearch_search_results li.highlighted a, #livesearch_search_results li.highlighted a:visited {
  color: #FFF;
}
#livesearch_search_results a, #livesearch_search_results a:visited {
  display: block;
  padding: 5px;
  color: #2d2d2d;
}
#livesearch_search_results a:before, #livesearch_search_results a:after, #livesearch_search_results a:visited:before, #livesearch_search_results a:visited:after {
  display: table;
  content: "";
  line-height: 0;
}
#livesearch_search_results a:after, #livesearch_search_results a:visited:after {
  clear: both;
}

@media (min-width: 768px) and (max-width: 991px) {
  #livesearch_search_results li img {
    display: none !important;
  }
}
/*================ Box Cart  ===============*/
.box-cart {
  float: left;
  position: relative;
}
.box-cart .btn-danger {
  border: 0;
  padding: 0;
  color: #333;
  font-size: 13px;
  background: none;
}
.box-cart .btn-danger:hover {
  color: #d4d4d4;
  background: none;
}
.box-cart a:hover img {
  opacity: .5;
}
.box-cart .btn {
  margin-bottom: 7px;
}

/*================  Cart  ===============*/
.cart {
  position: relative;
}
.cart i, .cart strong, .cart span {
  vertical-align: middle;
  display: inline-block;
}
.cart > button {
  padding-top: 5px;
}
.cart > button .cart-total {
  margin-left: 8px;
  margin-right: 9px;
  color: #848383;
  font-size: 14px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.cart > button .cart-total:after {
  display: inline-block;
  content: '\f107';
  margin-left: 8px;
  font-size: 16px;
  font-weight: 400;
  font-family: "FontAwesome";
}
.cart > button:hover .cart-icon:before, .cart.open > button .cart-icon:before {
  opacity: 0.2;
}
.cart > button:hover .cart-total:after, .cart.open > button .cart-total:after {
  color: #2d2d2d;
}

/*================  Cart DropDown ===============*/
.cart .dropdown-menu {
  z-index: 1001;
  min-width: 260px;
  padding: 10px 10px 5px;
}
.cart .dropdown-menu img {
  max-width: 50px;
}
.cart .dropdown-menu table {
  margin-bottom: 10px;
}

.cart ul > li:first-child tr {
  border-bottom: 1px solid #e3e2e2;
}

.cart td {
  font-size: 13px;
}
.cart td strong {
  font-size: 12px;
}

.cart .total td {
  border: none;
  padding: 2px;
  color: #2d2d2d;
}
.cart .price-cart {
  color: #2d2d2d;
}

.cart .table.total tr:nth-child(4) td strong,
.cart .table.total tr:nth-child(4) td {
  font-size: 20px;
}

@media (max-width: 767px) {
  .cart {
    position: fixed;
    top: 5px;
    right: 10px;
    margin: 0;
    z-index: 10000;
  }
  .cart > button:hover .cart-icon:before {
    opacity: 0.9;
  }
  .cart .dropdown-menu {
    max-height: 300px;
    overflow: auto;
  }
}
/*========================================================
                      Product
=========================================================*/
/* ===================   Product Layout   =================== */
.product-layout {
  margin-bottom: 30px;
}

.product-thumb .image + .caption {
  margin-top: 16px;
}
.product-thumb * + .price {
  margin-top: 2px;
}

/* ===================   Product Image   =================== */
.product-thumb .image {
  border: 1px solid #e3e2e2;
  position: relative;
  padding: 19px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.product-thumb .image > a {
  display: block;
}
.product-thumb .image > a img {
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  margin: 0 auto;
  background: #f4f4f4;
}

/* ===================   Product Caption   =================== */
.product-thumb {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.product-thumb .name {
  font-size: 16px;
  line-height: 22px;
  color: #262626;
}
.product-thumb .name a:hover {
  text-decoration: underline;
  color: #a1a1a1;
}
.product-thumb .rating {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}
.product-thumb:hover .image {
  border-color: #262626;
}
.product-thumb:hover .product-btn-add.cart-icon:before {
  opacity: 0.2;
}
.product-thumb:hover .product-btn-add.cart-icon:hover:before {
  opacity: 1;
}
.product-thumb:hover .name a {
  text-decoration: underline;
}
.product-thumb:hover .rating {
  opacity: 1;
}
.product-thumb:hover .cart-button .secondary-btns {
  opacity: 1;
}
.product-thumb:hover .cart-button .secondary-btns {
  -moz-transform: translate(0, 5px);
  -ms-transform: translate(0, 5px);
  -o-transform: translate(0, 5px);
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
}
.product-thumb .cart-button {
  position: relative;
}
.product-thumb .cart-button .product-btn-add {
  position: absolute;
  z-index: 9;
  right: -1px;
  top: -35px;
}
.product-thumb .cart-button .secondary-btns {
  padding-top: 4px;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px);
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.product-thumb .cart-button .secondary-btns .product-btn {
  display: inline-block;
}
.product-thumb .cart-button .secondary-btns .product-btn + .product-btn {
  margin-left: 30px;
}

/* ==================    Product List, Product Grid    =================== */
.product-list .product-thumb .caption, .product-list .product-thumb .cart-button {
  overflow: hidden;
}

.product-list .product-thumb .image {
  float: left;
  margin-right: 30px;
  width: 30%;
}

.product-grid .product-thumb .image {
  float: none;
}

.product-list .product-thumb .cart-button {
  padding-top: 15px;
  padding-bottom: 10px;
}
.product-list .product-thumb .cart-button .secondary-btns {
  text-align: left;
}

/* ==================   SALE, NEW Message   =================== */
.sale, .new_pr {
  font-size: 13px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #262626;
  color: #FFF;
  line-height: 29px;
  padding: 0 8px;
  z-index: 9;
}

/* ===================   Product Price    =================== */
.price-new, .price-old, .price {
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
}

.price-old {
  font-size: 25px;
  line-height: 36px;
  text-decoration: line-through;
  vertical-align: top;
}

.price-section .price-new, .price-section .price-old {
  font-size: 30px;
  color: #262626;
  line-height: 36px;
}

.price-section .price-old {
  font-size: 25px;
  line-height: 42px;
}

.price-section .reward {
  display: block;
  margin-top: 10px;
}

.price-tax {
  font-size: 12px;
}

.price-total {
  font-weight: bold;
}

.price s {
  font-size: 15px;
}

.prod-stock {
  color: #6BA239;
}

.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}

/* ===================   Product Rating   =================== */
.rating .fa-stack i {
  font-size: 11px;
}

.fa-stack {
  font-size: 11px;
  line-height: 20px;
  width: 0.9em;
}
.fa-stack i {
  color: #262626;
}

.table-compare td.rating .fa-stack, .table-compare td.rating .fa-stack-2x {
  width: 1em;
  height: 1em;
  font-size: 1em;
}

/* ===================   Product Quickview   =================== */
.quick_info {
  display: none;
}

.fancybox-skin:hover .fancybox-nav span {
  visibility: visible;
}

.fancybox-nav {
  height: 40px;
  top: 50%;
  width: 40px;
}

.fancybox-next {
  right: -60px;
}

.fancybox-prev {
  left: -60px;
}

.quickview_description {
  overflow: auto;
  max-height: 300px;
  border: 1px solid #e3e2e2;
  padding: 10px;
  margin-top: 15px;
}

.quickview_description iframe,
.product-desc iframe {
  width: 40% !important;
  height: 200px !important;
  float: left;
  margin-right: 2em;
}

.quickview-style .inf {
  font-size: 14px;
  margin-bottom: 10px;
}
.quickview-style .cart-button {
  margin-top: 10px;
}
.quickview-style .cart-button .btn {
  padding: 0;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}
.quickview-style .cart-button .btn-icon, .quickview-style .cart-button .btn-add {
  background: none;
  color: #d4d4d4;
}
.quickview-style .cart-button .btn-icon i:before, .quickview-style .cart-button .btn-add i:before {
  font-size: 20px;
}
.quickview-style .cart-button .btn-icon:hover, .quickview-style .cart-button .btn-add:hover {
  background: none;
  color: #262626;
}
.quickview-style .rating {
  margin-top: 5px;
}

/*========================================================
               Responsive Styles Product
=========================================================*/
@media (max-width: 1200px) {
  .product-thumb .button-group button, .product-thumb .button-group button + button {
    width: 33.33%;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .product-thumb .price, .product-thumb .price-new {
    font-size: 24px;
  }
  .product-thumb .price-old {
    font-size: 20px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .product-thumb .price, .product-thumb .price-new {
    line-height: 20px;
  }
  .product-thumb .price-old {
    display: block;
  }
}
@media (min-width: 768px) {
  .box .box-content .last {
    clear: left;
  }

  .fancybox-next {
    right: -30px;
  }

  .fancybox-prev {
    left: -30px;
  }
}
@media (max-width: 767px) {
  #content .product-layout {
    width: 50%;
    float: left;
  }
  #content .product-layout + .product-layout {
    margin-top: 0;
  }

  .quickview_description iframe,
  .product-desc iframe {
    float: none;
    width: 100% !important;
    margin: 0 0 2em;
  }

  .product-list .product-thumb .image,
  .product-grid .product-thumb .image {
    float: none;
    margin: 0 0 15px;
    width: 100%;
  }

  .product-layout {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .quickview_description iframe,
  .product-desc iframe {
    height: 240px !important;
  }
}
@media (max-width: 540px) {
  #content .product-layout {
    width: 100%;
    float: none;
  }
}
/*========================================================
                         Box
=========================================================*/
.box {
  margin-top: 40px;
}
.box .box-heading {
  margin: 0 0 30px;
  text-align: left;
}
.box .box-heading h3 {
  padding: 12px 20px 16px;
  background: #f8f8f8;
  margin: 0;
  font: 600 19px/30px "Open Sans", sans-serif;
}

aside .box .product-layout {
  width: 100%;
  margin-top: 30px;
}
aside .box .product-layout:first-child {
  margin-top: 0;
}

/*========================================================
                    Responsive Box
=========================================================*/
@media (min-width: 768px) and (max-width: 991px) {
  .box.info .box-content ul a {
    padding: 13px 5px;
  }
}
@media (max-width: 767px) {
  aside .box .box-heading {
    position: relative;
    cursor: pointer;
  }
  aside .box .box-heading:after {
    content: '\f055';
    position: absolute;
    right: 5px;
    top: 20px;
    font-size: 21px;
    font-family: "FontAwesome";
    color: #2d2d2d;
  }
  aside .box .box-heading.active:after {
    content: '\f056';
  }
}
/*========================================================
                        Buttons
=========================================================*/
.buttons {
  margin: 1em 0;
}
.buttons:before, .buttons:after {
  display: table;
  content: "";
  line-height: 0;
}
.buttons:after {
  clear: both;
}

.input-group-btn .btn {
  padding: 7px 12px;
}
.input-group-btn .btn i {
  font-size: 15px;
  line-height: 18px;
}

/* ================   Default Buttons BEGIN   =============== */
.btn:visited, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger,
.btn {
  font-size: 14px;
  color: #FFF;
  background: #262626;
  text-shadow: none;
  border-radius: 0;
  border: none;
  padding: 12px 16px;
  outline: none;
}

.btn:hover,
.btn:focus {
  background: #d4d4d4;
  color: #FFF;
}

/*================   Product Buttons BEGIN   ===============*/
.product-btn {
  background: none;
  color: #d4d4d4;
  padding: none;
  font-size: 18px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.product-btn:hover {
  color: #262626;
}

.product-btn-add {
  background: none;
  color: #262626;
  font-size: 20px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a.btn-danger {
  padding: 12px 17px;
}

button.btn-primary,
button.btn-danger {
  margin-top: 3px;
}

button.btn-primary + a.btn-danger {
  margin-top: 3px;
}

/* ================   QuickView  =============== */
.product-thumb .quickview {
  color: #d4d4d4;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.product-thumb .quickview:hover {
  color: #262626;
}

/* ================   Compare Button  =============== */
.nav-cat .btn {
  padding: 15px 20px;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .nav-cat .btn {
    margin-top: 15px;
  }
}

/* ================   Product page buttons  =============== */
.product-buttons {
  margin: 0 -5px 1em;
  padding: 0;
}
.product-buttons:before, .product-buttons:after {
  display: table;
  content: "";
  line-height: 0;
}
.product-buttons:after {
  clear: both;
}
.product-buttons li {
  float: left;
  width: 50%;
  padding: 0 5px;
  list-style: none;
}
.product-buttons li button {
  width: 100%;
}

@media (max-width: 991px) {
  .product_page .product-btn {
    font-size: 22px;
  }
}

.product_page #button-cart {
  width: 100%;
  font-size: 22px;
}
.product_page #button-cart:hover {
  color: #d4d4d4;
}
.product_page #button-cart:before {
  margin-right: 5px;
}

/*========================================================
                 Responsive styles Buttons
=========================================================*/
@media (max-width: 1199px) {
  .button-view {
    margin-top: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .account-wishlist table td .btn {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .table-bordered > tbody > tr > .text-right {
    padding: 5px;
  }

  .account-wishlist table td .btn {
    padding: 6px;
  }
}
@media (max-width: 767px) {
  .button-view {
    display: none;
  }

  .product-thumb .quickview {
    display: none;
  }
}
@media (max-width: 410px) {
  .account-address .table td a {
    display: block;
  }
  .account-address .table td a + a {
    margin-top: 5px;
  }
}
@media (max-width: 400px) {
  .buttons .pull-left, .buttons .pull-right {
    float: none !important;
    margin-top: 10px;
  }
}
/*=================== Menu gadget ===================*/
.menu-icon {
  position: relative;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 400;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  padding: 10px 17px;
  background: #262626;
}
.menu-icon.active:after {
  content: "\f106";
}
.menu-icon:after {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: right;
  content: "\f107";
  font-family: "FontAwesome";
  margin-top: 2px;
  margin-left: 5px;
  display: inline-block;
  text-align: center;
  width: 1.25em;
  font-size: 26px;
  color: #fff;
}
.menu-icon:hover:after {
  color: #d4d4d4;
}

.menu-gadget {
  display: none;
  margin: 15px 0;
}

.menu-gadget .menu ul ul a {
  padding-left: 60px !important;
}

.menu-gadget .menu {
  padding: 0;
  margin: 0;
}
.menu-gadget .menu ul {
  width: auto;
  padding: 0;
  display: none;
}
.menu-gadget .menu li {
  position: relative;
  list-style-type: none;
}
.menu-gadget .menu li i {
  position: absolute;
  display: block;
  top: 11px;
  right: 5px;
  height: 24px;
  width: 24px;
  font-size: 21px;
  padding: 0 20px;
  cursor: pointer;
  color: #fff;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.menu-gadget .menu li i:hover {
  color: #e5e5e5;
}
.menu-gadget .menu li.active > a, .menu-gadget .menu li > a:hover {
  background: #373737;
  color: #fff;
}
.menu-gadget .menu a {
  padding: 10px 15px;
  display: block;
  border-top: 1px solid #e5e5e5;
  color: #fff;
  font-size: 14px;
  background: #262626;
}
.menu-gadget .menu li li a {
  padding: 10px 15px 10px 45px;
}
.menu-gadget .menu li li:last-child {
  padding-bottom: 0;
}
.menu-gadget .menu li li li a {
  padding: 10px 15px 10px 35px;
}

.menu-gadget .menu li i.fa-angle-up:before {
  content: "\f106" !important;
}

/*========================================================
                      Menu styles
=========================================================*/
.nav__primary .menu {
  display: inline-block;
}
.nav__primary .menu:before, .nav__primary .menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav__primary .menu:after {
  clear: both;
}
.nav__primary .menu > li {
  position: relative;
  float: left;
}
.nav__primary .menu > li + li {
  margin-left: 20px;
}

.nav__primary {
  padding: 0;
}
.nav__primary ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*================ Menu  ===============*/
.nav__primary .menu li {
  position: relative;
}
.nav__primary .menu li.sfHover > a, .nav__primary .menu li > a:hover, .nav__primary .menu li > a.active {
  color: #262626;
}
.nav__primary .menu li + li {
  margin-left: 25px;
}
.nav__primary .menu li > a {
  display: block;
  font-size: 19px;
  line-height: 24px;
  color: #848383;
  font-weight: 600;
}

/*================ Sub-menu lvl1  ===============*/
.nav__primary .menu ul {
  display: none;
  position: absolute;
  z-index: 109;
  left: 0;
  top: 100%;
  width: 193px;
  margin-top: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*================ Sub-menu lvl1 item  ===============*/
.nav__primary .menu ul li {
  position: relative;
}
.nav__primary .menu ul li + li {
  margin-left: 0;
}
.nav__primary .menu ul li:last-child a {
  border-bottom: none;
}
.nav__primary .menu ul a {
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  display: block;
  border-bottom: 1px solid #4b4b4b;
  background: #373737;
}
.nav__primary .menu ul li.active > a, .nav__primary .menu ul a:hover, .nav__primary .menu ul li.sfHover > a {
  background: #242424;
  color: #fff;
}

/*================ Sub-menu lvl2 ===============*/
.nav__primary .menu ul ul {
  left: 100%;
  top: 0;
  margin-left: .2em;
  margin-top: 0;
}
.nav__primary .menu ul ul:before {
  display: none;
}

.nav__primary .menu > li > .sf-with-ul {
  position: relative;
}
.nav__primary .menu > li > .sf-with-ul:before {
  position: absolute;
  left: 50%;
  top: 62%;
  margin-left: -6px;
  content: '\f0d7';
  font: 400 12px/12px 'FontAwesome';
  display: none;
}

.nav__primary .menu ul > li > .sf-with-ul {
  position: relative;
}
.nav__primary .menu ul > li > .sf-with-ul:before {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -7px;
  content: '\f105';
  font: 400 18px/14px 'FontAwesome';
}

.sfHover .sfHover .sf-with-ul:before {
  content: '\f078';
}

@media (max-width: 767px) {
  .nav__primary .menu {
    display: none;
  }

  .menu-gadget {
    display: block;
  }
}
/*==================  Stuck menu  ======================*/
.stuck-menu {
  width: auto !important;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 991px) {
  .scroll-fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    background: #f5f5f5;
    padding: 0px 0 0px;
    border-bottom: 1px solid #262626;
  }
  .scroll-fix .logo {
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
}
@media only screen and (max-width: 991px) {
  .stuck-menu {
    position: static;
  }
  .stuck-menu + div {
    display: none;
  }
}
/*========================================================
                      Banners
=========================================================*/
.bg-2 {
  margin-top: 50px;
  padding-bottom: 31px;
  margin-bottom: 48px;
}

.banners > div .banner-box {
  margin-top: 34px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.banners > div .banner-box > a {
  display: block;
}
.banners > div .banner-box > a img {
  border-radius: 50%;
}

.banners > div .s-desc {
  -moz-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.banners > div .s-desc h1 {
  position: absolute;
  top: 49%;
  left: 0;
  right: 0;
  margin-top: -30px;
  padding: 4px 10px 19px;
  text-align: center;
  border: 6px;
  background: rgba(38, 38, 38, 0.8);
  color: #fff;
  font-size: 44px;
  line-height: 44px;
  font-weight: 300;
}

.banners .banner-box a:hover .s-desc {
  background: rgba(38, 38, 38, 0.6);
}

/*========================================================
                   Responsive Banners
=========================================================*/
@media (min-width: 767px) and (max-width: 991px) {
  .banners > div .s-desc h1 {
    font-size: 34px;
    padding-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .banners > div {
    text-align: center;
  }
  .banners > div .banner-box {
    width: 370px;
    display: inline-block;
  }
}
@media (max-width: 399px) {
  .banners > div .banner-box {
    width: 290px;
  }
}
/*========================================================
                      HTML boxes
=========================================================*/
.box_html.custom-banners1 [class*="col-"] {
  position: relative;
  text-align: center;
  margin-bottom: 46px;
}
.box_html.custom-banners1 [class*="col-"]:after {
  content: '';
  width: 1px;
  height: 72px;
  top: 4px;
  background: #e3e2e2;
  display: block;
  position: absolute;
  right: 0px;
}
.box_html.custom-banners1 [class*="col-"] h1 {
  font-size: 24px;
  line-height: 24px;
  color: #2d2d2d;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.box_html.custom-banners1 [class*="col-"] p {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.box_html.custom-banners1 [class*="col-"]:last-child:after {
  display: none;
}
.box_html.custom-banners1:after {
  content: '';
  display: block;
  left: 0;
  right: 0;
  height: 12px;
  bottom: 0;
  background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
}

/*========================================================
               Responsive HTML boxes
=========================================================*/
/* ===================   Breadcrumb   =================== */
.breadcrumb {
  margin: 15px 0;
  padding: 8px 0;
  border-radius: 0;
  border: 1px solid #e3e2e2;
  background: #fff;
  font-size: 14px;
  line-height: 18px;
}
.breadcrumb + .row {
  margin-bottom: 20px;
}
.breadcrumb a {
  display: inline-block;
}
.breadcrumb > li {
  padding: 0 30px;
  position: relative;
  white-space: nowrap;
}
.breadcrumb > li + li:before {
  content: '';
  padding: 0;
}
.breadcrumb > li:after {
  content: '';
  position: absolute;
  top: -3px;
  right: 0;
  width: 27px;
  height: 24px;
  border-right: 1px solid #e3e2e2;
  border-bottom: 1px solid #e3e2e2;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 600px) {
  .breadcrumb {
    padding: 0;
  }

  .breadcrumb > li:last-child:after {
    display: none;
  }

  .breadcrumb > li:after {
    width: auto;
    position: static;
    border: 0;
    content: '>';
    margin-left: 5px;
    display: inline-block;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
  }

  .breadcrumb > li {
    padding: 0 5px;
  }
  .breadcrumb > li a {
    line-height: 24px;
  }
}
#list-view,
#grid-view {
  padding: 0;
  margin: 0 5px;
  background: none;
  box-shadow: none;
  color: #2d2d2d;
  font-size: 27px;
  line-height: 30px;
}

#list-view.active,
#grid-view.active {
  color: #d4d4d4;
}

/* ===================   Product Page   =================== */
.product-section, .product-content-columns {
  margin-bottom: 3em;
}

.product-share {
  height: 32px;
  margin-top: 1em;
}

.review-form-title {
  text-align: center;
}
.review-form-title h3 {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e3e2e2;
  padding: 0 10px 5px;
  display: inline-block;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.review-form-title h3:before {
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #e3e2e2;
  content: '';
  margin-left: -10px;
}
.review-form-title h3:hover {
  color: #262626;
}

.rating-section a {
  cursor: pointer;
}

.product-review-form {
  display: none;
}

/* ===================   Product Gallery   =================== */
.product-gallery:before, .product-gallery:after {
  display: table;
  content: "";
  line-height: 0;
}
.product-gallery:after {
  clear: both;
}
.product-gallery .product-image {
  cursor: pointer;
  float: left;
  width: 84%;
  padding-left: 15px;
}
.product-gallery .bx-wrapper {
  margin: 0 !important;
}
.product-gallery .image-thumb {
  float: left;
  width: 16%;
}

.product-gallery .image-thumb .bx-wrapper .bx-prev,
.product-gallery .image-thumb .bx-wrapper .bx-next {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 34px;
  line-height: 34px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0;
  color: #fff;
}
.product-gallery .image-thumb .bx-wrapper .bx-prev:hover,
.product-gallery .image-thumb .bx-wrapper .bx-next:hover {
  background: #262626;
}

.product-gallery .image-thumb .bx-wrapper .bx-prev {
  top: 0;
  bottom: auto;
}

.product-gallery .image-thumb li a {
  border: 1px solid #e3e2e2;
  display: block;
}
.product-gallery .image-thumb li a:hover, .product-gallery .image-thumb li a.active {
  border-color: #262626;
}

.image-additional {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-reviews .review-item {
  margin-bottom: 3em;
}

.review-score .fa-stack {
  width: 2em;
  height: 1.5em;
  margin-bottom: 10px;
}

.product-title {
  margin: 0;
  color: #2d2d2d;
}

.reward-block span {
  display: block;
}

#product .input-group[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
#product h3 {
  color: #262626;
}
#product * + .text-danger {
  margin-top: 5px;
  margin-right: 15px;
  text-align: right;
}
#product select + .text-danger {
  margin-right: 0;
}

.general_info .product-section,
.general_info .price-section {
  margin: 0 0 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e2e2;
}

#full_gallery {
  display: none;
}
#full_gallery .bx-viewport {
  padding-right: 1px;
}
#full_gallery #gallery li {
  border: 1px solid #e3e2e2;
}

@media (max-width: 1199px) {
  #full_gallery {
    display: block;
  }
  #full_gallery .bx-viewport {
    padding-right: 2px;
  }

  .product-gallery {
    visibility: hidden;
    height: 0;
  }
  .product-gallery .image-thumb, .product-gallery .product-image {
    height: 0;
  }

  .bx-wrapper .bx-controls-direction a {
    background: #fff;
    border: 1px solid #e3e2e2;
    color: #2d2d2d;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    width: 40px;
    font-size: 18px;
    font-family: "FontAwesome";
  }
  .bx-wrapper .bx-controls-direction a i {
    display: none;
  }
  .bx-wrapper .bx-controls-direction a:hover {
    background: #262626;
    color: #FFF;
  }

  .bx-wrapper .bx-controls-direction .bx-prev:before {
    content: '\f104';
  }

  .bx-wrapper .bx-controls-direction .bx-next:before {
    content: '\f105';
  }
}
.container > .alert, .breadcrumb + .alert {
  z-index: 9999999;
}

.bootstrap-datetimepicker-widget, #at20mc, #at15s {
  z-index: 99 !important;
}

/* ===================   Sub Category on Category Page   =================== */
.box-subcat {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.box-subcat li {
  text-align: center;
  margin-bottom: 15px;
}
.box-subcat li .name a {
  font-size: 18px;
  text-transform: capitalize;
}
.box-subcat li .image {
  margin-bottom: 10px;
  border: 2px solid #e3e2e2;
  padding: 9px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.box-subcat li .image:hover {
  border-color: #262626;
}
.box-subcat li.first-in-line {
  clear: left;
}

@media (max-width: 767px) {
  .box-subcat li {
    text-align: left;
    float: left;
    width: 50%;
  }
  .box-subcat li .image {
    display: inline-block;
    float: left;
    margin-right: 15px;
    width: 25%;
  }
  .box-subcat li:nth-child(2n+1) {
    clear: both;
  }

  #content .box-subcat [class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .box-subcat li {
    width: 100%;
    float: none;
    clear: both;
  }
}
/* ===================   Product Filter  =================== */
.product-filter {
  border-top: 1px solid #e3e2e2;
  border-bottom: 1px solid #e3e2e2;
  padding: 20px 0;
  margin-bottom: 12px;
}
.product-filter label {
  font-size: 13px;
  padding-top: 7px;
}

.nav-cat {
  margin-bottom: 13px;
}
.nav-cat .nam-page {
  margin: 5px 0 5px 10px;
}

/* ========   BLOCK COMPARE   ============= */
.compare-block {
  margin-bottom: 20px;
}

.compare-block .image {
  margin-right: 10px;
}

.compare-block .remove a {
  font-size: 19px;
  line-height: normal;
}

.compare-info {
  width: 100%;
}

.block-compare {
  position: relative;
  overflow: hidden;
}

@media (max-width: 991px) {
  .product-compare .table-responsive {
    overflow-x: scroll;
  }
  .product-compare .table-responsive td + td {
    min-width: 270px;
  }

  .table.table-bordered {
    margin-bottom: 10px;
  }
}
/* ===================   About Page   =================== */
.extra-wrap {
  overflow: hidden;
}

.information-information {
  font-size: 14px;
  line-height: 26px;
}
.information-information h3, .information-information h4, .information-information h5 {
  color: #2d2d2d;
  margin: 0 0 10px;
  line-height: normal;
}
.information-information h3, .information-information h5 {
  text-transform: uppercase;
}

.terms_conditions_page h4 {
  text-transform: uppercase;
}

.about-page.excerpt {
  margin-bottom: 30px;
}

.recent-posts {
  text-align: center;
}

/* ===================   Number   =================== */
.dropcap {
  background: none repeat scroll 0 0 #262626;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  margin: 0 20px 30px 0;
  padding: 17px;
  display: block;
  float: left;
}

img.alignleft {
  float: left;
  margin-right: 20px;
}

/* ===================   Divider   =================== */
.sm_hr {
  height: 1px;
  background-color: #e0e0e0;
  margin: 50px 0;
}

/* ===================   Thumbnail   =================== */
.thumbnail {
  background: none repeat scroll 0 0 #fafafa;
  border: 1px solid #e3e2e2;
  padding: 12px;
  max-width: 254px;
  margin: 0 auto 12px;
  border-radius: 0;
}
.thumbnail img {
  border: 1px solid #e3e2e2;
}
.thumbnail a:hover {
  opacity: .5;
}

.img-thumbnail {
  border: 0;
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 0;
}

.human_info .thumbnail {
  float: left;
  margin-right: 20px;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: 0;
  line-height: 0;
}

@media (max-width: 500px) {
  img.alignleft, .human_info .thumbnail {
    float: none;
    margin: 0 auto 20px;
  }
}
/* ===================   Testimonials   =================== */
.testimonials .testi-item {
  margin-bottom: 30px;
}
.testimonials .testi-meta {
  line-height: 18px;
  padding-left: 50px;
}
.testimonials .user {
  text-transform: uppercase;
  font-size: 12px;
  color: #262626;
}
.testimonials blockquote {
  border: 1px solid #e3e2e2;
  margin-bottom: 15px;
}

/* ===================   Privacy Policy  =================== */
.privacy_page.table td {
  border-top: 0;
  padding: 0 30px 30px;
}
.privacy_page.table td:first-child {
  text-align: right;
}
.privacy_page tr > td + td {
  border-left: 1px solid #e3e2e2;
}

.privacy_page h4 {
  max-width: 300px;
  float: right;
  font-size: 16px;
}

/* ===================   Site Map Page  =================== */
.site-map-page #content ul {
  list-style-type: none;
}
.site-map-page #content ul li {
  padding: 5px 0;
}
.site-map-page #content ul a {
  font-size: 14px;
}

/* ===================   Manufacturer List  =================== */
.manufacturer-list {
  border: 1px solid #e3e2e2;
  margin-bottom: -1px;
}
.manufacturer-list .manufacturer-heading {
  background: none repeat scroll 0 0 #f9f9f9;
  border-bottom: 1px solid #e3e2e2;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}
.manufacturer-list .manufacturer-heading span {
  background: none repeat scroll 0 0 #262626;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.manufacturer-list .manufacturer-content {
  padding: 20px;
}

/* ===================   Account Page  =================== */
.well {
  background-color: #f9f9f9;
  border: 1px solid #e3e2e2;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 0;
  box-shadow: none;
}
.well .heading {
  margin-bottom: 20px;
}
.well .heading:before, .well .heading:after {
  display: table;
  content: "";
  line-height: 0;
}
.well .heading:after {
  clear: both;
}
.well .heading i {
  color: #262626;
  float: left;
  font-size: 56px;
  margin-right: 14px;
  line-height: 60px;
}
.well .heading h2 {
  font-size: 23px;
  color: #2d2d2d;
  margin: 0 0 5px;
}
.well .heading strong {
  font-weight: normal;
  font-style: italic;
}
.well p {
  border-top: 1px solid #e3e2e2;
  border-bottom: 1px solid #e3e2e2;
  padding: 20px 0;
}
.well a {
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .well .heading {
    text-align: center;
  }
  .well .heading h2 {
    font-size: 17px;
  }
  .well .heading i {
    float: none;
  }
}
.datepicker .prev, .datepicker .next, .datepicker .day, .datepicker .year, .datepicker .month, .datepicker .picker-switch {
  cursor: pointer;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.datepicker .prev:hover, .datepicker .prev.active, .datepicker .next:hover, .datepicker .next.active, .datepicker .day:hover, .datepicker .day.active, .datepicker .year:hover, .datepicker .year.active, .datepicker .month:hover, .datepicker .month.active, .datepicker .picker-switch:hover, .datepicker .picker-switch.active {
  color: #262626;
  background: transparent;
}
.datepicker th {
  text-align: center;
}

.radio {
  line-height: 18px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%;
  }

  #column-left + #content .product-layout .col-md-3 {
    width: 50%;
  }

  #column-left + #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }

  #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }
}
input#input-voucher,
input#input-coupon {
  display: inline-block;
  width: 45%;
  margin-right: 5px;
}

/*========================================================
                         Footer
=========================================================*/
footer {
  margin-top: -12px;
  padding-top: 42px;
  background: #262626;
}
footer h5 {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
}
footer h5 + ul {
  margin-top: 15px;
}
footer h5 + ul li {
  border-bottom: 1px solid #393939;
  padding-bottom: 14px;
}
footer h5 + ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
footer h5 + ul li a {
  font-size: 14px;
  color: #848383;
}
footer h5 + ul li a:hover {
  color: #fff;
}
footer ul li + li {
  margin-top: 14px;
}
footer .social-list {
  display: inline-block;
}
footer .social-list span {
  display: none;
}
footer .social-list li {
  display: inline-block;
}
footer .social-list li a {
  font-size: 45px;
  color: #393939;
}
footer .social-list li a:hover {
  color: #fff;
}
footer .social-list li + li {
  margin-left: 26px;
}
footer .social-list + .footer-link {
  margin-top: -10px;
  margin-left: 28px;
  display: inline-block;
}
footer .social-list + .footer-link a {
  color: #fff;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
footer .social-list + .footer-link a:hover {
  text-decoration: underline;
}
footer .social-list + .footer-link .lnk {
  float: left;
  margin-top: -30px;
}
@media (max-width: 579px) {
  footer .social-list + .footer-link {
    margin-top: 15px;
    margin-left: 0;
  }
}

.copyright br {
  display: none;
}

.copyright {
  font-size: 14px;
  line-height: 28px;
  color: #5e5e5e;
  text-align: center;
}
.copyright > .container {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 50px;
}

/*========================================================
                    Responsive  Footer
=========================================================*/
@media (max-width: 767px) {
  footer > .container {
    display: none;
  }

  footer {
    text-align: center;
  }
}
/*==================     ToTop     ======================*/
.toTop {
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background: #262626;
  border-radius: 50%;
  position: fixed;
  right: 66px;
  bottom: 100px;
  display: none;
  overflow: hidden;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  background: #d4d4d4;
  text-decoration: none;
  color: #262626;
}

.toTop:visited, .toTop:focus, .toTop:active {
  color: #fff;
}

@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
/*========================================================
                  Responsive Styles
=========================================================*/
@media (max-width: 1200px) {
  .table th, .table td {
    padding: 8px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .panel-body input + span {
    margin-top: 5px;
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .table-responsive {
    border: none;
  }
  .table-responsive .table-bordered {
    border: 1px solid #e3e2e2;
  }

  .delivery_page .table {
    font-size: 13px;
  }
}
@media (max-width: 530px) {
  .panel-group .panel input#input-voucher,
  .panel-group .panel input#input-coupon {
    width: 100%;
  }
  .panel-group .panel span {
    display: block;
    margin-top: 5px;
  }

  h1 {
    font-size: 26px;
  }
}
@media (max-width: 410px) {
  #accordion .table td,
  #accordion .table thead td {
    font-size: 9px;
    word-wrap: break-word;
  }
}
@media (max-width: 370px) {
  .table.privacy_page td {
    padding: 8px;
  }

  .delivery_page .table td,
  .delivery_page .table th {
    padding: 6px;
  }
}

/**
 * Login Modal
 */

.login_modal_footer{margin-top:5px;}
.login_modal_header .modal-title {text-align: center;font-family:'Philosopher',sans-serif; }
.form-group{position: relative;}
.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}
.login-modal{
    width:100%;
    padding-bottom:20px;
}
.login_modal_header, .login_modal_footer {background: #F5F5F5; !important;color:#fff;}
.modal-register-btn{margin: 4% 33% 2% 33% ;width:100%;}
.login-modal input{height:40px; box-shadow: none; border:1px solid #ddd;}
.modal-body-left{float:left; width:50%; padding-right:4%; border-right:4px solid #ddd;}
.modal-body-right{float:right; width:47%;}
.login-link{padding:0 20%;}
.modal-social-icons{padding:0 10%;}
.facebook, .twitter, .google, .linkedin {width:100%;height:40px; padding-top:2%; margin-top:2%;color:#fff !important;}
.modal-icons{margin-left: -10px; margin-right: 20px;}
.google, .google:hover{background-color:#dd4b39;border:2px solid #dd4b39;color:#fff;}
.twitter, .twitter:hover{ background-color: #00aced; border:2px solid #00aced;color: #fff;}
.facebook, .facebook:hover{background-color: #3b5999; border:2px solid #3b5999;color:#fff;}
.linkedin, .linkedin:hover{background-color: #007bb6; border: 2px solid #007bb6; color:#fff;}
#social-icons-conatainer{position: relative;}
#center-line{position: absolute;  right: 265.7px;top: 80px;background:#ddd;  border: 4px solid #DDDDDD;border-radius: 20px;}
.modal-login-btn{width:100%;height:40px; margin-bottom:10px;}

.btn1{
    border-color: #ccc;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
}


